In [1]:
import yfinance as yf 
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np

In [3]:
df=yf.download("RELIANCE.NS",start="2023-01-01",end="2024-01-01")

[*********************100%***********************]  1 of 1 completed

In [4]:
df.head()

Price             Close         High          Low         Open      Volume
Ticker      RELIANCE.NS  RELIANCE.NS  RELIANCE.NS  RELIANCE.NS RELIANCE.NS
Date
2023-01-02  1175.889648  1177.304802  1163.244669  1164.066352     5316175
2023-01-03  1167.284668  1174.565828  1163.062148  1170.936659     7658932
2023-01-04  1149.709595  1169.110728  1147.632506  1167.261851     9264891
2023-01-05  1147.655396  1157.858149  1143.067616  1151.969321    13637099
2023-01-06  1158.086304  1163.130627  1149.595501  1153.407240     6349597

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 245 entries, 2023-01-02 to 2023-12-29
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Close, RELIANCE.NS)   245 non-null    float64
 1   (High, RELIANCE.NS)    245 non-null    float64
 2   (Low, RELIANCE.NS)     245 non-null    float64
 3   (Open, RELIANCE.NS)    245 non-null    float64
 4   (Volume, RELIANCE.NS)  245 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 11.5 KB

In [6]:
df.describe()

Price         Close         High          Low         Open        Volume
Ticker  RELIANCE.NS  RELIANCE.NS  RELIANCE.NS  RELIANCE.NS   RELIANCE.NS
count    245.000000   245.000000   245.000000   245.000000  2.450000e+02
mean    1153.907238  1162.899522  1145.525955  1155.005848  1.342906e+07
std       68.721887    68.753556    67.970408    67.716259  6.566007e+06
min     1004.863220  1013.422547   995.162654  1011.140068  3.854810e+06
25%     1109.309692  1116.567999  1101.229549  1111.067256  9.209636e+06
50%     1150.559204  1158.451475  1147.357944  1152.585506  1.203256e+07
75%     1204.580444  1212.525656  1198.628514  1207.066065  1.578266e+07
max     1297.294922  1303.754399  1283.922210  1295.958013  5.708188e+07